{{ $count := .Get 0 | default 3 }}
<ul id="recentPosts">
{{ range $index, $page := site.RegularPages }}
  {{ if lt $index $count }}
  <li class="post">
    <a class="postTitle" href="{{ $page.RelPermalink }}">
      <span>{{ $page.LinkTitle }}</span>
    </a>
    <div class="summary">
      {{ $page.Summary }}
    </div>
    <div class="metadata">
      <span>
        <b>{{ $page.Date | dateFormat "2006-01-02" }}</b> | {{ $page.WordCount }} words
      </span>
      <div class="tags">
        {{- with $page.GetTerms "tags" }}
          {{- range $tag := . }}
          <span><a href="{{ $tag.RelPermalink}}">#{{ $tag.LinkTitle }}</a></span>
          {{- end }}
        {{- end }}
      </div>
    </div>
  </li>
  {{ end }}
{{ end }}
</ul>
<a href="/posts">More posts »</a>
