<style>
#uwatering-button a {
    box-shadow: none;
    color: white;
    line-height: 0.75rem;
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    #uwatering-button img {
        filter: invert(1);
    }

    #uwatering-button {
        color: white;
    }
}
</style>
<div id="uwatering-button" style="display: flex; gap: 8px;">
    <a href="https://cs.uwatering.com/#https://seanzhang.ca?nav=prev">←</a>
    <a href="https://cs.uwatering.com/#https://seanzhang.ca" target="_blank">
        <img src="https://cs.uwatering.com/icon.black.svg" alt="CS Webring" style="width: 27px; height: auto; opacity: 0.8;"/>
    </a>
    <a href="https://cs.uwatering.com/#https://seanzhang.ca?nav=next">→</a>
</div>
